<!--<head>
    <title>Projet Node.js</title>
</head>-->
<% include ../partials/head.ejs %>
<h1 class="text-center">Liste de personnes</h1>

<div class="d-flex mb-3 justify-content-center">
  <a class="btn btn-success" href="/personne/add/">Ajouter</a>
</div>

<% if (locals.errorMsg) { %>
<div>
  <h2 class="text-center text-danger"><%= locals.errorMsg %></h2>
</div>
<% }%>

<div class="container-fluid d-flex justify-content-center">
  <div class="table-container">

<% if (locals.personnes) { %>
  
    <table class="table table-responsive table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="text-center align-middle">Photo</th>
          <th class="text-center align-middle">Prénom</th>
          <th class="text-center align-middle">Nom</th>
          <th class="text-center align-middle">Date de naissance</th>
          <th class="text-center align-middle">Genre</th>
          <th class="text-center align-middle">Ville</th>
          <th class="text-center align-middle">Domaine</th>
          <th class="text-center align-middle">Actions</th>
    
        </tr>
      </thead>
      <tbody>
        <% personnes.forEach(function(personne) { %>
        
        <tr class="<% if( personne.enabled == 0){ %> row-disabled <% } %> ">
          <td data-label="Photo" class="text-center align-middle fs20" scope="row">
            
              <img class="photo-personne" src="/uploads/<%= personne.photo %>" alt="<%= personne.photo %>">

           
            
          </td>
          <td data-label="Nom" class="text-center align-middle fs20" scope="row"><%= personne.nom %></td>
          <td data-label="Prénom" class="text-center align-middle fs20" scope="row"><%= personne.prenom %></td>
          <td data-label="Date de naissance" class="text-center align-middle fs20" scope="row">
            <%= moment(personne.dob).format( 'DD/MM/YYYY') %>
          </td>
          <td data-label="Genre" class="text-center align-middle fs20" scope="row">
              <% if(personne.genre == 'h'){ %>
                Homme
              <% } %>
              <% if(personne.genre == 'f'){ %>
                Femme
              <% } %>
          </td>
          <td data-label="Ville" class="text-center align-middle fs20" scope="row"><%= personne.ville %></td>
          <td data-label="Domaine" class="text-center align-middle fs20" scope="row"><%= personne.domaine %></td>
          <!-- <td class="text-center fs20">
            <% if(personne.enabled == 1){ %>
            <input class="disabled-checkbox" checked disabled type="checkbox" name="" id="">
            <% } else{ %>
            <input class="disabled-checkbox" disabled type="checkbox" name="" id="">
            <% } %>
          </td> -->
          <td data-label="Actions" class="text-center align-middle" scope="row">
            <div class="btn-group">
    
              <!-- <a class="btn btn-primary" href="/personne/show/<%= (personne._id) %>">Voir</a> -->
              <a class="btn btn-warning <% if(personne.enabled == 0){ %> disabled <% } %>"
                href="/personne/edit/<%= (personne._id) %>">Modifier</a>
              <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu <% if(personne.enabled == 0){ %> disabled <% } %>">
                <!-- <a class="dropdown-item"
                  href="/personne/disable/<%= (personne._id) %>"><% if(personne.enabled == 0){ %>
                  Activer <% } else{ %> Désactiver <% } %></a> -->
                <a class="dropdown-item bg-danger text-white <% if(personne.enabled == 0){ %> disabled <% } %>"
                  href="/personne/delete/<%= (personne._id) %>">Supprimer</a>
              </div>
            </div>
          </td>
        </tr>
        <% }); %>
    
      </tbody>
    </table>

  

<% }%>
</div>
</div>

<div class="text-center">
  <a href="/personne/reset">Reset</a>
</div>

<% include ../partials/footer.ejs %>