<!--<head>
    <title>Projet Node.js</title>
</head>-->
<% include ../partials/head.ejs %>
<h1 class="text-center">Projet MVC - Node.js & Mongoose</h1>

<div class="d-flex justify-content-center">
  <a class="btn btn-success" href="/personne/add/">Ajouter</a>
</div>

<% if (locals.errorMsg) { %>
<div>
  <h2 class="text-center text-danger"><%= locals.errorMsg %></h2>
</div>
<% }%>

<% if (locals.personnes) { %>
<table class="table table-responsive">
  <thead>
    <tr>
      <th class="text-center">Nom</th>
      <th class="text-center">Prénom</th>
      <th class="text-center">Date de naissance</th>
      <th class="text-center">Genre</th>
      <th class="text-center">Ville</th>
      <th class="text-center">Domaine</th>
      <th class="text-center">Photos</th>
      <th class="text-center">Actions</th>

    </tr>
  </thead>
  <tbody>
    <%for (var i = 0; i < personnes.length; i++) { %>
    <tr class="<% if( personnes[i].enabled == 0){ %> row-disabled <% } %> ">
      <td class="text-center fs20" scope="row"><%= personnes[i].nom %></td>
      <td class="text-center fs20" scope="row"><%= personnes[i].prenom %></td>
      <td class="text-center fs20" scope="row">
        <%= moment(personnes[i].dob).format( 'DD/MM/YYYY') %>
      </td>
      <td class="text-center fs20" scope="row"><%= personnes[i].genre %></td>
      <td class="text-center fs20" scope="row"><%= personnes[i].ville %></td>
      <td class="text-center fs20" scope="row"><%= personnes[i].domaine %></td>
      <td class="text-center fs20" scope="row"><%= personnes[i].domaine %></td>
      <!-- <td class="text-center fs20">
        <% if(personnes[i].enabled == 1){ %>
        <input class="disabled-checkbox" checked disabled type="checkbox" name="" id="">
        <% } else{ %>
        <input class="disabled-checkbox" disabled type="checkbox" name="" id="">
        <% } %>
      </td> -->
      <td class="text-center" scope="row">
        <div class="btn-group">

          <a class="btn btn-primary" href="/personne/show/<%= (personnes[i]._id) %>">Voir</a>
          <a class="btn btn-warning <% if(personnes[i].enabled == 0){ %> disabled <% } %>"
            href="/personne/edit/<%= (personnes[i]._id) %>">Modifier</a>
          <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu <% if(personnes[i].enabled == 0){ %> disabled <% } %>">
            <a class="dropdown-item"
              href="/personne/disable/<%= (personnes[i]._id) %>"><% if(personnes[i].enabled == 0){ %>
              Activer <% } else{ %> Désactiver <% } %></a>
            <a class="dropdown-item bg-danger text-white <% if(personnes[i].enabled == 0){ %> disabled <% } %>"
              href="/personne/delete/<%= (personnes[i]._id) %>">Supprimer</a>
          </div>
        </div>
      </td>
    </tr>
    <% }%>

  </tbody>
</table>

<% }%>

<% include ../partials/footer.ejs %>