<% include ../partials/head.ejs %> 
<head>
    <title>Projet Node.js</title>
</head>
<div class="container">
        <h1>Detail</h1>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Nom : <%= personne.nom %></p>
                <p class="card-text">Prénom : <%= personne.prenom %></p>
                <p class="card-text">Date de naissance : <%= moment(personne.dob).format( 'DD/MM/YYYY') %></p>
                <p class="card-text">Genre : <%= personne.genre %></p>
                <p class="card-text">Ville : <%= personne.ville %></p>
                <p class="card-text">Domaine : <%= personne.domaine %></p>
                <p class="card-text">Photo : <%= personne.photo %></p>
            </div>
        </div>
    </div>
    <a href="/personne">Retour</a>
</div>
<% include ../partials/footer.ejs %>